@import '../../theme/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
}

.formDiv {
  width: 40%;
}

.form-check-input:checked {
  background-color: $secondary;
}

.mt-3, .mb-3 {
  color: $secondary;
}

p {
  color: $red;
}

.mt-3 {
  font-size: 2em;
  margin-top: 2em;
}

.mb-3 {
  font-size: 1.1em;
}

