@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700&display=swap');

$primary: #facaca;
$dark-primary:#EDA2A4;
$secondary: #740000;
$red: #bb1313; 
$green: #59BAB8;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
);
