@import '../../theme/variables.scss';

.aboutusWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}

.aboutusLeftContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconsContainerAboutUs {
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.aboutusTitleContainer {
  text-align: center;
}
.aboutusTitle > span {
  color: $red;
  font-weight: 600;
}

.aboutusTitle > strong {
  color: $secondary;
  font-weight: bold;
}

.aboutusTitle {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.textAboutUs {
  color: $secondary;
  font-size: 1.1em;
  text-align: center;
}

ul {
  text-align: justify;
  list-style: decimal-leading-zero;
}

.textAboutUs > p {
  font-size: 1.1em;
}

li > span {
  font-weight: 600;
}

li > strong {
  font-weight: bold;
}
.aboutusRightContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutusImage > img {
  width: 20em;
}

.iconsContainerAboutUs {
  margin-top: 0.5em;
}

@media (max-width: 768px) {
  .aboutusWrapper {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .aboutusTitleContainer {
    text-align: center;
  }

  .aboutusTitleContainer > p {
    width: unset;
  }

  .aboutusImage > img {
    width: 14em;
  }

  .aboutusLeftContainer {
    width: 100%;
  }

  .iconsContainerAboutUs {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.1em;
  }
}
